/*
 * General style
 */

body
{
	margin: 0px;

	background-color: white;
	background-image: url(header_background.png);
	background-repeat: repeat-x;

	color: black;
	font-family: sans-serif;
}

img  { border: none; }

h2  { font-size: xx-large; }

h3  { font-size: x-large; }

h4  { font-size: large; }

h5  { font-size: medium; }

h2, h3, h4, h5
{
	font-weight: normal;
	color: #176bc1;
}

li h3, li h4, li h5
{
	display: inline;

	margin-right: 10px;

	font-size: normal;
	font-weight: bold;
	color: #176bc1;
}

q  { font-style: italic; }

li  { margin-top: 4px; }

p.Abstract  { font-weight: bold; }


/*
 * Page body
 */

#body
{
	position: relative;

	z-index: 2;

	border: 1px solid #d0d0d0;

	background-color: #fcfcfc;

	color: black;
}

#body a:link,
#body a:visited
{
	border-bottom: 1px dotted #c0c0c0;
	text-decoration: none;
}

#body a:link  { color: #990000; }
#body a:visited  { color: #500000; }

#body a:link:hover,
#body a:visited:hover
{
	border-bottom: 1px solid #c0c0c0;
	color: red;
}

#body a:link:focus
#body a:visited:focus
	{ outline: 1px dotted #c0c0c0; }

#body a:link:active,
#body a:visited:active
{
	border-bottom: 1px solid #f0f0f0;
	outline: 1px solid #c0c0c0;
	color: red;
}


/*
 * Page header
 */

h1.Header:before
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 524px;
	height: 60px;
	
	content: url(header_map.png);
}

h1.Header
{ 
	height: 60px;

	margin-left: 0px;
	margin-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;

	padding: 0px;

	content: '';

	background-image: url(header_title.png);
	background-position: center right;
	background-repeat: no-repeat;
}

/*
 * Navigation
 */

h2.Navigation
	{ display: none; }

ul.Navigation
{
	min-height: 29px;

	margin: 0px;

	padding-left: 20px;
	padding-right: 0px;  /* list items already have a right margin */
	padding-top: 0px;
	padding-bottom: 0px;

	z-index: 3; /* IE 7 fix */

	background-color: #525967;
	background-image: url(menu_background.png);
	background-position: center;
	background-repeat: repeat-x;
}

ul.Navigation > li
{
	position: relative;

	float: left;

	list-style-type: none; 

	min-height: 29px;

	margin: 0px;
	padding: 0px;

	z-index: 3; /* IE 7 fix */
}

ul.Navigation a:link,
ul.Navigation a:visited
{
	display: block;

	margin: 0px;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	background-color: transparent;

	color: white;
	text-decoration: none;
}

ul.Navigation a:link:focus
ul.Navigation a:visited:focus
	{ outline: 1px dotted #e0e0e0; }

ul.Navigation a:link:active,
ul.Navigation a:visited:active
	{ color: red; }

ul.Navigation > li:hover
{
	background-color: #bec1c3;
	background-image: url(menu_background_selected.png);
	background-position: left center;
	background-repeat: repeat-x;
}

ul.Navigation > li:hover > a:link,
ul.Navigation > li:hover > a:visited
{ 
	color: #990000;
	
	background-image: url(menu_background_selected_edge.png);
	background-position: right center;
	background-repeat: no-repeat;
}

/* Sub menu */

ul.Navigation ul
{ 
	position: absolute;

	display: none; 

	margin: 0px;
	padding: 0px;

	z-index: 3;

	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;

	background-color: white;
	background-image: url(submenu_background.png);
	background-position: center bottom;
	background-repeat: repeat-x;
	
}

ul.Navigation li:hover > ul,
ul.Navigation li > a:link:focus + ul,
ul.Navigation li > a:visited:focus + ul
	{ display: block; }

ul.Navigation ul > li
{
	display: block;

	min-height: 29px;

	list-style-type: none; 

	margin: 0px;
	padding: 0px;
}

ul.Navigation ul a:link,
ul.Navigation ul a:visited
{ 
	color: black;
}

ul.Navigation ul > li:hover
{
	background-color: transparent;
	background-image: url(submenu_background_selected.png);
	background-position: center;
	background-repeat: repeat-x;
}

ul.Navigation ul > li:hover > a:link,
ul.Navigation ul > li:hover > a:visited
{
	color: #990000;
}


/*
 * Footer
 */

p.Copyright
{
	z-index: 2;

	min-height: 13px;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: -5px;
	margin-bottom: 0px;

	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 2px;

	font-size: x-small;
	color: #6f6f6f;
}

address.Contact
{
	z-index: 1;

	min-height: 13px;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: -5px;
	margin-bottom: 0px;

	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 2px;

	text-align: right;

	background-color: #e6e6e6;
	background-image: url(footer_background.png);
	background-repeat: repeat-x;

	font-size: x-small;
	font-style: normal;
	color: #6f6f6f;
}

p.Copyright a:link, 
address.Contact a:link, 
p.Copyright a:visited,
address.Contact a:visited
	{ text-decoration: underline; }

p.Copyright a:link,
address.Contact a:link
	{ color: #6f6f6f; }

p.Copyright a:visited,
address.Contact a:visited
	{ color: #3f3f3f; }

p.Copyright a:link:hover,
address.Contact a:link:hover,
p.Copyright a:visited:hover
address.Contact a:visited:hover
	{ color: #9f9f9f; }

p.Copyright a:link:focus,
address.Contact a:link:focus,
p.Copyright a:visited:focus,
address.Contact a:visited:focus
	{ outline: 1px dotted #6f6f6f; }

p.Copyright a:link:active,
address.Contact a:link:active,
p.Copyright a:visited:active,
address.Contact a:visited:active
	{ color: black; }
