/*
 * Page header
 */

#header  
{ 
	position: absolute;
	
	left: 0px;
	top: 0px;
	right: 0px;
}


/*
 * Main menu
 */

ul#main_menu
{
	position: absolute;

	z-index: 3;

	left: 0px;
	top: 60px;
	right: 0px;
}

/*
 * Page body
 */

#body
{
	position: absolute;

	left: 0px;
	top: 89px;
	right: 0px;
	bottom: 17px;

	margin: 10px;
}

/*
 * Footer
 */

#footer
{
	position: absolute;

	left: 0px;
	right: 0px;
	bottom: 0px;
}


/*
 * Map specific styles
 */

#map
{
	position: absolute;

	left: 250px;
	top: 0px;
	right: 0px;
	bottom: 0px;

	background-color: #cbced5;
}

#sidebar
{
	position: absolute;

	left: 0px;
	top: 0px;
	bottom: 0px;

	padding-top: 20px;
	padding-bottom: 20px;

	overflow: hidden;
	
	background-image: url(sidebar_background.png);
	background-repeat: repeat-y;
}

.SidebarHidden
{
	width: 0px;

	padding-left: 20px;
	padding-right: 0px;

	background-position: 10px 0px;
}

.SidebarVisible
{
	width: 210px;

	padding-left: 25px;
	padding-right: 25px;

	background-position: 250px 0px;
}

#sidebar_toggle
{
	position: absolute;
	
	top: 3px;
	right: 5px;

	font-size: large;
	font-weight: bold;
}

#sidebar_toggle:hover
{
	color: red;
	cursor: pointer;
}

#sidebar h1  { font-size: x-large; }

#sidebar h2  { font-size: large; }

#sidebar h3  { font-size: medium; }

/*
 * OpenStreetbugs
 */

.olFramedCloudPopupContent
{
	padding: 10px;
	overflow: auto;
}
